<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bhishanpdl.copylastdownloadtohere</string>
	<key>connections</key>
	<dict>
		<key>0C9AAA91-C113-4856-BF68-F2F331F9A2DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10FE47D8-8A05-40B4-AD10-8110B80B9F1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B3C6F1F-51D4-4357-BD25-E3F71EEE5E69</key>
		<array/>
		<key>1BDB010C-A40C-4FBD-B44E-B3B166316310</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A49374F5-16B5-4BB8-BCBF-033BCDA18164</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37433A24-FC3B-4BAB-B7B6-6A3A33DD9B43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90F17ADE-5611-41A8-B5F9-D41CC3DF79BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39BD01DA-36A8-4B06-A760-9061779F43B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C9AAA91-C113-4856-BF68-F2F331F9A2DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DA7AF96-87E7-468A-A237-30681C0B5903</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74DC1588-1E1C-4086-8CCD-AE877D6519BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56D6B563-10DF-4D50-A761-283B858992E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DA7AF96-87E7-468A-A237-30681C0B5903</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73D09BC8-3206-40F0-B3C9-3DCBCD7ADD48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED05B898-22D4-4815-83D7-4A93FFA4E28C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74DC1588-1E1C-4086-8CCD-AE877D6519BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF1CE41F-74DB-429C-B16D-56EF05A4F8C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90F17ADE-5611-41A8-B5F9-D41CC3DF79BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73D09BC8-3206-40F0-B3C9-3DCBCD7ADD48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F730E1F-455B-4DCA-B0D0-D409F56EAB28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5FB8721-6740-49A2-900E-FF1E813C3A86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A49374F5-16B5-4BB8-BCBF-033BCDA18164</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEA2C1FC-0FA5-4B5B-8606-FD72777A8A5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B295DC7B-2F40-40FC-98A7-B7E82852D0BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65D71DD7-5AFB-4D47-948E-DE838166E5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6DF4FB7-6730-44B4-83FD-9215001F4715</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA32F87E-FD3B-40A1-B2F9-A59462F1EAB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF1CE41F-74DB-429C-B16D-56EF05A4F8C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B295DC7B-2F40-40FC-98A7-B7E82852D0BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D703B6DD-58C5-486C-9C09-A63CDD709682</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F730E1F-455B-4DCA-B0D0-D409F56EAB28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8D53F06-4610-42D1-A16D-40D5E9655EF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BDB010C-A40C-4FBD-B44E-B3B166316310</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED05B898-22D4-4815-83D7-4A93FFA4E28C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6DF4FB7-6730-44B4-83FD-9215001F4715</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEA2C1FC-0FA5-4B5B-8606-FD72777A8A5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39BD01DA-36A8-4B06-A760-9061779F43B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3304C68-1F07-4FD3-82DD-5767783F19C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B3C6F1F-51D4-4357-BD25-E3F71EEE5E69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4EEF960-9A6C-4A65-AF02-F3B2C6BBEC70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D703B6DD-58C5-486C-9C09-A63CDD709682</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5FB8721-6740-49A2-900E-FF1E813C3A86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDEF4CF2-C6A2-499C-A9BA-708077071BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDEF4CF2-C6A2-499C-A9BA-708077071BE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3304C68-1F07-4FD3-82DD-5767783F19C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bhishan Poudel</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy or Move Last Downloads to Here</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F730E1F-455B-4DCA-B0D0-D409F56EAB28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>mvd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Move Only One Latest  Download to PWD</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F4EEF960-9A6C-4A65-AF02-F3B2C6BBEC70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"
    set the clipboard to POSIX path of (insertion location as alias)
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D703B6DD-58C5-486C-9C09-A63CDD709682</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>here</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F5FB8721-6740-49A2-900E-FF1E813C3A86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1B3C6F1F-51D4-4357-BD25-E3F71EEE5E69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># edited from: https://ryanmo.co/2014/11/15/a-better-show-downloads-folder-with-alfred/

DOWNLOADS="$HOME/Downloads"

# Lists the name and date added for all the files in the Downloads folder
RECENT=$(mdls -name kMDItemFSName -name kMDItemDateAdded ~/Downloads/* | \

# Looks at the next line and removes any newlines, which puts the name and date added all on one line
sed 'N;s/\n//' | \

# Returns the name and date added in a nice format like "2014-11-15 19:36:28 "Arq.zip""
awk '{print $3 " " $4 " " substr($0,index($0,$7))}' | \

# Sorts the lines
sort -r | \

# Splits the lines on a quotation mark and returns the second result (the filename)
cut -d'"' -f2 | \

# Gives the top item in the list, which is the most recently added file
head -n1)

# Reveals the file instead of opening it in OS X.
# open "$DOWNLOADS/$RECENT"

# echo "${RECENT##*/}"

echo -n "$DOWNLOADS/$RECENT"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDEF4CF2-C6A2-499C-A9BA-708077071BE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/mv "$1" "$here"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3304C68-1F07-4FD3-82DD-5767783F19C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>mvda</string>
				<key>subtext</key>
				<string>mvda  (move all files) or mvda pdf (only all pdf files)</string>
				<key>text</key>
				<string>Move All Downloads to PWD</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56D6B563-10DF-4D50-A761-283B858992E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if test -z "$EXTENSION"
then
      mv ~/Downloads/* "$here"
else
      find ~/Downloads -name *."${EXTENSION}" -exec mv '{}' "${here}" ";"
fi

echo -n "${here}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65D71DD7-5AFB-4D47-948E-DE838166E5B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF1CE41F-74DB-429C-B16D-56EF05A4F8C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"
    set the clipboard to POSIX path of (insertion location as alias)
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>74DC1588-1E1C-4086-8CCD-AE877D6519BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>EXTENSION</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DA7AF96-87E7-468A-A237-30681C0B5903</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>here</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B295DC7B-2F40-40FC-98A7-B7E82852D0BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"
    set the clipboard to POSIX path of (insertion location as alias)
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BDB010C-A40C-4FBD-B44E-B3B166316310</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cpd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy Only One Last Download to PWD</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D8D53F06-4610-42D1-A16D-40D5E9655EF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A49374F5-16B5-4BB8-BCBF-033BCDA18164</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>here</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEA2C1FC-0FA5-4B5B-8606-FD72777A8A5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/bin/cp -r "$1" "$here"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C9AAA91-C113-4856-BF68-F2F331F9A2DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># edited from: https://ryanmo.co/2014/11/15/a-better-show-downloads-folder-with-alfred/

DOWNLOADS="$HOME/Downloads"

# Lists the name and date added for all the files in the Downloads folder
RECENT=$(mdls -name kMDItemFSName -name kMDItemDateAdded ~/Downloads/* | \

# Looks at the next line and removes any newlines, which puts the name and date added all on one line
sed 'N;s/\n//' | \

# Returns the name and date added in a nice format like "2014-11-15 19:36:28 "Arq.zip""
awk '{print $3 " " $4 " " substr($0,index($0,$7))}' | \

# Sorts the lines
sort -r | \

# Splits the lines on a quotation mark and returns the second result (the filename)
cut -d'"' -f2 | \

# Gives the top item in the list, which is the most recently added file
head -n1)

# Reveals the file instead of opening it in OS X.
# open "$DOWNLOADS/$RECENT"

# echo "${RECENT##*/}"

echo -n "$DOWNLOADS/$RECENT"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39BD01DA-36A8-4B06-A760-9061779F43B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>10FE47D8-8A05-40B4-AD10-8110B80B9F1F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Finder"
    set the clipboard to POSIX path of (insertion location as alias)
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>73D09BC8-3206-40F0-B3C9-3DCBCD7ADD48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cpda</string>
				<key>subtext</key>
				<string>cpda (copy all files) or cpda pdf (to copy all pdf files)</string>
				<key>text</key>
				<string>Copy All Downloads to Current Working Directory</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37433A24-FC3B-4BAB-B7B6-6A3A33DD9B43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ED05B898-22D4-4815-83D7-4A93FFA4E28C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if test -z "$EXTENSION"
then
      cp -r ~/Downloads/* "$here"
else
      find ~/Downloads -name *."${EXTENSION}" -exec cp -p '{}' "${here}" ";"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA32F87E-FD3B-40A1-B2F9-A59462F1EAB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>here</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6DF4FB7-6730-44B4-83FD-9215001F4715</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>EXTENSION</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>90F17ADE-5611-41A8-B5F9-D41CC3DF79BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy or move latest download to current working directory</string>
	<key>uidata</key>
	<dict>
		<key>0C9AAA91-C113-4856-BF68-F2F331F9A2DF</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>10FE47D8-8A05-40B4-AD10-8110B80B9F1F</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>1B3C6F1F-51D4-4357-BD25-E3F71EEE5E69</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>1BDB010C-A40C-4FBD-B44E-B3B166316310</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>37433A24-FC3B-4BAB-B7B6-6A3A33DD9B43</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Copy All Downloads to PWD</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>39BD01DA-36A8-4B06-A760-9061779F43B1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>3DA7AF96-87E7-468A-A237-30681C0B5903</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>EXTENSION</string>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>56D6B563-10DF-4D50-A761-283B858992E4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Move All Downloads to PWD</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>65D71DD7-5AFB-4D47-948E-DE838166E5B4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>73D09BC8-3206-40F0-B3C9-3DCBCD7ADD48</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>74DC1588-1E1C-4086-8CCD-AE877D6519BF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>90F17ADE-5611-41A8-B5F9-D41CC3DF79BD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>EXTENSION</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>9F730E1F-455B-4DCA-B0D0-D409F56EAB28</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A49374F5-16B5-4BB8-BCBF-033BCDA18164</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>B295DC7B-2F40-40FC-98A7-B7E82852D0BD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>here</string>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C6DF4FB7-6730-44B4-83FD-9215001F4715</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>here</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>CF1CE41F-74DB-429C-B16D-56EF05A4F8C7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>D703B6DD-58C5-486C-9C09-A63CDD709682</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D8D53F06-4610-42D1-A16D-40D5E9655EF7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Copy Only One Latest Download to PWD</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>EA32F87E-FD3B-40A1-B2F9-A59462F1EAB7</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>ED05B898-22D4-4815-83D7-4A93FFA4E28C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>EEA2C1FC-0FA5-4B5B-8606-FD72777A8A5C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>here</string>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>F3304C68-1F07-4FD3-82DD-5767783F19C6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>F4EEF960-9A6C-4A65-AF02-F3B2C6BBEC70</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Move Only Latest One Downloads to PWD</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F5FB8721-6740-49A2-900E-FF1E813C3A86</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>here</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>FDEF4CF2-C6A2-499C-A9BA-708077071BE8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
