<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.corylogan.randommac</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>D9F75C10-FF78-4F3B-93B9-1FD8F81BA3F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B4CC3B8-260A-4DBB-9A4E-1D1E1E7C0069</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Cory Logan</string>
	<key>description</key>
	<string>Changes your mac address to a random MAC.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random MAC</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>@used_characters = %w(0 1 2 3 4 5 6 7 8 9 a b c d e f)

def s
	@used_characters.sample
end

spoofed_mac = "#{s}#{s}:#{s}#{s}:#{s}#{s}:#{s}#{s}:#{s}#{s}:#{s}#{s}"

`osascript -e  'do shell script "sudo ifconfig en0 ether #{spoofed_mac} &gt;/dev/null;" with administrator privileges'`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B4CC3B8-260A-4DBB-9A4E-1D1E1E7C0069</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rmac</string>
				<key>subtext</key>
				<string>Change your MAC address to a random one.</string>
				<key>text</key>
				<string>Random MAC Address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9F75C10-FF78-4F3B-93B9-1FD8F81BA3F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5B4CC3B8-260A-4DBB-9A4E-1D1E1E7C0069</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9F75C10-FF78-4F3B-93B9-1FD8F81BA3F2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.corylogan.com</string>
</dict>
</plist>
